<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
            </i>
            <strong (click)='homePage()' style="font-size: 30px;">xNet Store</strong>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"
                    placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>


        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i style="font-size: 30px;" class="fas fa-user"></i>
                <div style="font-size: 10px;" class="badge bg-danger"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li *ngIf="user?.type == 'admin'"><a (click)="goToAdmin()" class="dropdown-item">Admin</a></li>
                <li><a (click)="logOut()" class="dropdown-item" href="#">LogOut</a></li>
                <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>